.intro-header {
    background: #2c3e50;
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}

.intro-header .post-heading,
.intro-header .page-heading {
    background-color: rgba(44, 62, 80, 0.6);
}

.main .intro-header{
    background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
    background-repeat: repeat-x, repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}
.rpg .intro-header{
    background-image: url("../img/rpg.jpg");
}

.bbq .intro-header{
    background-image: url("../img/bbq.jpg");
}

.logitechg13 .intro-header {
    background-image: url("../img/logitechg13.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-position: right;
    background-position-y: 50px;
}

.programming .intro-header{
    background-image: url("../img/programming.jpg");
}

.main .intro-header .post-heading,
.main .intro-header .page-heading {
    background-color: transparent;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    margin: 11vh 0;
    padding: 1em 0.75em;
    color: white;
}

.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    font-size: 80px;
}

.intro-header .post-heading h1 {
    font-size: 60px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading,
.intro-header .post-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}

.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}
.intro-header .post-heading .meta a {
    color: white;
}

@media only screen and (max-width: 767px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 40px;
    }

    .intro-header .post-heading h1 {
        font-size: 30px;
    }

    .intro-header .site-heading .subheading,
    .intro-header .page-heading .subheading,
    .intro-header .post-heading .subheading {
        font-size: 14px;
        line-height: 1;
    }

    .intro-header .post-heading .meta {
        font-size: 11px;
    }
}

.post .post-content {
    display: none;
}

.post-read-more {
    display: inline-block;
    padding: 0.25em 1em;
    margin: 0 .4em;
    border: 1px solid;
    border-radius: 2px;
}

.post-close {
    padding: 0.5em;
    line-height: 1;
    text-decoration: none !important;
    display: block;
    text-align: center;
}
.post-close small{
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.post-preview-meta {
    margin-bottom: 1em;
    font-size: 10px;
}