---
layout: page
title: "About"
description: "I'm Jason Hardin, Product Manager at Blackboard. This blog is my personal blog where I document my interests in programming, video games, role-playing, BBQ and DIY projects"
pageclass: main
---

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <img src="/img/me.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-xs-8">
            <ul class="list-unstyled">
                {% if site.github_username %}
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github-square fa-stack-1x fa-inverse"></i>
                        </span>
                        {{ site.github_username }}
                    </a>
                </li>
                {% endif %}

                {% if site.twitter_username %}
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter-square fa-stack-1x fa-inverse"></i>
                        </span>
                        {{ site.twitter_username }}
                    </a>
                </li>
                {% endif %}

                {% if site.googleplus_username %}
                <li>
                    <a href="https://plus.google.com/+{{ site.googleplus_username }}/posts">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-google-plus-square fa-stack-1x fa-inverse"></i>
                        </span>
                    +{{ site.googleplus_username }}
                    </a>
                </li>
                {% endif %}
                {% if site.linkedin_username %}
                <li>
                    <a href="https://www.linkedin.com/in/{{site.linkedin_username}}">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
                        </span>
                        {{site.linkedin_username}}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            I am the Senior Product Manager for Open Source Solutions at [Moodlerooms](http://www.moodlerooms.com) a subsidiary of [Blackboard](http://www.blackboard.com). I have been programming for more than 15 years and have experience with the following programming languages:
            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>Java</li>
                <li>C++</li>
            </ul>
            This site is my personal blog and represents only my opinions and hobbies not those of my employer. The blog is here to house my personal projects for role-playing, video games, programming, DIY and cooking. I also like to post notes here about things I learned during my programming experiences at work or with personal projects. I often times write posts on answers to problems that caused me some headaches or time to resolve. For me the resolution is the key and the blog post is there to keep me from repeating the same mistake twice.
        </div>
    </div>
</div>