---
layout: page
description: "Things I want to remember and share with the world"
pageclass: main
---
{% assign thecycle = true %}

{% for post in paginator.posts %}
    {% if thecycle %}
        {% assign thecycle = false %}
    {% else %}
        {% assign thecycle = true %}
    {% endif %}

<div class="post-preview">
    <div class="row">
    {% if thecycle %}
        {% include excerpt_img.html %}
        {% include post_preview.html %}
    {% else %}
        {% include post_preview.html %}
        {% include excerpt_img.html %}
    {% endif %}
    </div>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer
            Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}