---
layout: page
description: "Things I want to remember and share with the world"
---
{% for post in paginator.posts %}
<div class="post-preview">
    <div class="row">
        <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.excerpt_image %}
                <div class="col-xs-12 col-sm-6">
                    <img src="{{ post.excerpt_image | prepend: site.baseurl }}" alt="" class="img-responsive">
                </div>
            {% endif %}
            <div class="col-xs-12 {% if post.excerpt_image %} col-sm-6 {% endif %}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                {% endif %}
                <p>
                    {{ post.excerpt }}
                </p>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="post-meta col-xs-12">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</div>
    </div>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer
            Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}