---
layout: page
title: "Logitech G13 Profiles"
description: "All Logitech G13 custom profiles created by Jason Hardin"
pageclass: logitechg13
category: "logitech g13"
---
<h2>All Profiles</h2>
<p>If you want to download all of the <a href="http://gaming.logitech.com/en-us/product/g13-advanced-gameboar">Logitech G13</a> profiles you can grab them <a href="/media/profiles/game_profiles.zip">here</a>. Otherwise review the list below of all of the Logitech G13 profiles I have created.</p>
<hr>
{% assign thecycle = true %}

{% for post in site.categories[page.category] %}
    {% include post.html %}
{% endfor %}
