<div class="col-xs-12 {% if post.excerpt-img %} col-sm-6 {% endif %}">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <span class="meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</span>
    <p>
        {{ post.excerpt }}
    </p>
    <a class="post-read-more" href="#">Read More</a>
</div>